.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  width: 100%;
  padding: 12px 24px;
  border: 2px solid #e0e0e0;
  border-radius: 6px;
  background: #fff;
  color: #666666;
}

.content input {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #666666;
}
