.content {
   border-radius: 6px;
   overflow: hidden;
   transition: all 0.3s;

   &:hover {
      transform: translateY(-5px);
   }
}

.topContent {
   padding: 8px 16px;
   border-radius: 6px 6px 0 0;
   border: 2px solid #212121;
   background: #f2f2f2;
}

.number {
   display: inline-block;
   width: 100%;
   font-size: 20px;
   text-align: right;
   color: #212121;
}

.image {
   width: 154px;
   height: 154px;
   margin: 0 auto;
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

.bottomContent {
   padding: 8px 16px 12px;
   background: #212121;

   p {
      font-size: 32px;
      color: #FFFFFF;
   }
}
